.loginFirst{
    position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(8, 8, 8);
        color: white;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
}

.error-message {
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 253, 253);
    color: black;
    padding: 20px;
    text-align: center;
    font-size: x-large;
}